/* Global*/
@import './_reset.scss';
@import './_animations.scss';
@import './_functions.scss';
@import './_mixins.scss';
@import './_variables.scss';
@import './_typography.scss';


body {
    margin: 0;
    padding: 0;
}


/*------------------------------------*\
    Main site structure
\*------------------------------------*/

.l-container {
    @include flex-row;
    justify-content: space-between;
    max-width: $primary-content-width;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
}

/*------------------------------------*\
    Button Styling
\*------------------------------------*/

.button {
    font-family: $primary-font-family;
    font-size: 1.2rem;
    font-weight: $font-bold;
    line-height: 1.6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    width: fit-content;
    &-one {
        padding: 1.2rem 2.4rem;
        border: none;
        background-color: $color-primary;
        color: $color-secondary;
        &:hover {
            color: $color-primary;
            background-color: $color-tertiary;
            cursor: pointer;
        }
    }
    &-two {
        color: $color-primary;
        position: relative;
        &:after {
            content: url("/assets/shared/desktop/arrow.svg");
            position: absolute;
            right: -6rem;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

/*------------------------------------*\
    Header
\*------------------------------------*/

.header {
    & .l-container {
        padding: 1.6rem 2rem;
        align-items: center;
    }
    &-nav {
        @include flex-row;
        justify-content: space-between;
        gap: 3.7rem;
    }
    &-link {
        color: $color-primary;
        font-family: $primary-font-family;
        font-weight: $font-bold;
        font-size: 1.2rem;
        line-height: 1.6rem;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            color: $color-tertiary;
        }
        &__active {
            color: $color-tertiary;
        }
    }
}

/*------------------------------------*\
    Hero Area
\*------------------------------------*/

.hero-area {
    &__internal {
        @include flex-row;
        max-height: 49rem;
    }
    &__content {
        width: 42%;
        background-color: $color-primary;
        padding: 0 11.1rem;
        @include flex-column;
        justify-content: center;
        & h1,
        & h2,
        & p {
            color: $color-secondary;
        }
    }
    &__media {
        width: 58%;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    & h1 {
        text-transform: uppercase;
        margin-bottom: 2.1rem;
    }
    & .button-two {
        color: $color-secondary;
        margin-top: 4.8rem;
        &:after {
            filter: invert(1)
        }
    }
    .home-content &__internal {
        max-height: 650px;
    }
}


.pricing-content .hero-area__content a {
    display: none;
}

.features-content .hero-area__content a {
    display: none;
}

/*------------------------------------*\
    Stories Hero
\*------------------------------------*/

.stories-hero {
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100%;
    &__internal {
        @include flex-row;
        max-height: 65rem;
    }
    &__content {
        width: 27%;
        @include flex-column;
        justify-content: center;
        margin: 12.2rem;
        & h1,
        & h2,
        & p {
            color: $color-secondary;
        }
    }
    & .strapline {
        margin-bottom: 2.4rem;
    }
    & h1 {
        text-transform: uppercase;
        margin-bottom: 1.6rem;
    }
    &__info {
        @include flex-row;
        justify-content: flex-start;
        gap: .9rem;
        margin-bottom: 2.4rem;
        & .date {
            font-size: 1.3rem;
            color: $color-secondary;
            opacity: 0.75;
        }
        & p.author {
            opacity: 1;
        }
    }
    & .button-two {
        color: $color-secondary;
        margin-top: 2.4rem;
        &:after {
            filter: invert(1)
        }
    }
    p {
        opacity: 0.6;
    }

}


.pricing-content .hero-area__content a {
    display: none;
}

.features-content .hero-area__content a {
    display: none;
}


/*------------------------------------*\
    Grid Items
\*------------------------------------*/

.grid-area {
    &__item {
        @include flex-row;
        max-height: 65rem;
        &:nth-of-type(odd) {
            flex-direction: row-reverse;
        }
    }
    &__content {
        width: 42%;
        background-color: $color-secondary;
        padding: 0 11.1rem;
        @include flex-column;
        justify-content: center;
        & h1, & h2, & p {
            color: $color-primary;
        }
        & h2 {
            text-transform: uppercase;
            font-size: 4rem;
            letter-spacing: 0.41rem;
            margin-bottom: 2.1rem;
        }
        & p {
            margin-bottom: 4.8rem;
        }
    }
    &__media {
        width: 58%;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/*------------------------------------*\
    Stories Items
\*------------------------------------*/

.stories-area {
    @include flex-row;
    &__item {
        position: relative;
        background-size: cover;
        width: 25%;
        object-fit: cover;
        height: 500px;
        transition: transform 0.5s ease-in-out;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%);
        }
        &:hover {
            cursor: pointer;
                transform: translateY(-16px);
        }
    }
    &__media {
        height: 100%;
        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__content {
        z-index: 2;
        position: absolute;
        bottom: 40px;
        left: 40px;
        right: 40px;
        color: $color-secondary;
        width: 78%;
        margin: auto;
    }
    & h3 {
        color: $color-secondary;
        margin-bottom: .4rem;
    }
    p:last-of-type {
        margin-bottom: 1.6rem; 
    }
    & hr {
        color: $color-tertiary;
        border-style: solid none none;
        opacity: .6;
        margin: 0 0 2rem 0;
    }
    & .button-two {
        color: $color-secondary;
        &:after {
            filter: invert(1)
        }
    }
}

/*------------------------------------*\
    Features Items
\*------------------------------------*/

.features-area {
    padding: 12rem 0;
    & .l-container {
        gap: 3rem
    }
    &__item {
        @include flex-column;
        align-items: center;
        justify-content: space-between;
        width: 32%;
        text-align: center;
        height: 236px;
    }
    &__media {
        @include flex-column;
        justify-content: space-around;
        flex: 1;
        margin-bottom: 4.8rem;
    }
    & h3 {
        flex: 1;
        margin-bottom: 1.6rem;
    }
    & p {
        flex: 1;
        margin: aut;
    }
}


/*------------------------------------*\
    Footer
\*------------------------------------*/

.footer {
    background-color: #000;
    text-align: center;
    margin-top: auto;
    padding: 6.4rem 0;
    &-column {
        @include flex-column;
        justify-content: space-between;
        gap: 8.5rem;
        align-items: flex-start;
    }
    &-social {
        @include flex-row;
        gap: 13px;
        & img {
            filter: sepia(100%) grayscale(100%) brightness(20);
            width: 100%;
            &:hover {
                filter: none;
            }
        }
    }
}