/* Global*/
@import './_reset.scss';
@import './_animations.scss';
@import './_functions.scss';
@import './_mixins.scss';
@import './_variables.scss';
@import './_typography.scss';


body {
    margin: 0;
    padding: 0;
}

.App {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #000;
    text-align: center;
    margin-top: auto;
    padding: 8px;
}