/* Variables */
$main-accent: linear-gradient(#5776ff, #bc7198, #ffc694);
$color-primary: #000000;
$color-secondary: #fff;
$color-tertiary: #dfdfdf;

$primary-font-family: 'DM Sans', sans-serif;

$font-bold: 700;
$font-regular: 400;

$primary-content-width: 1150px;